.big{
    border: 2px solid black;
}

.container {
  background-color: #e0e0e0;
  
  padding: 15px;
  width: auto;
  height: auto;
  margin: 20px auto;
}

h3 {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  color: #333;
  margin-top: 0;
  margin-bottom: 20px;
}

.red-text {
  color: red;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

nav li a {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
}

#nav-menu1 {
  margin-bottom: 10px;
}

#nav-menu1 li a {
  background-color: #b0e0e6;
  color: #000080;
}

#nav-menu2 li a {
  background-color: #98fb98;
  color: #006400;
}