.container {
        display: flex;               
        flex-wrap: wrap;             
        justify-content: space-evenly; 
        align-items: center;          
        align-content: space-around;  
        gap: 40px;                    
        padding: 20px;

    }

   
    .card {
        background: white;
        width: 300px;
        padding: 25px;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 5px 18px rgba(0,0,0,0.15);
        flex-grow: 0;
    }

   
    .card:nth-child(2) {
        align-self: flex-start; 
    }

    .circle {
        width: 110px;
        height: 110px;
        background: #007bff;
        border-radius: 50%;
        color: white;
        font-size: 34px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 20px auto;
    }

    .name {
        font-size: 22px;
        font-weight: bold;
    }

    .info {
        color: #444;
        font-size: 16px;
        margin: 5px 0;
    }